
<div>
    <label >Main-Site</label>
    <div class="input-group">
        <span class="input-group-addon" >Site-Set</span>
        <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="table.anSite">
        <span class="input-group-addon" >Data-Count</span>
        <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="table.anCount">
    </div>
    <br>
    <label >Out-Site</label>
    <div class="input-group">
        <span class="input-group-addon" >Base-site</span>
        <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="table.nextBase">
        <span class="input-group-addon" >Out-Selector</span>
        <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="table.nextSel">
        <div class="checkbox input-group-addon ">
            <label>
                <input type="checkbox" ng-model="isConcat">Concat?
            </label>
        </div>
    </div>
    <br>
    <label>Data-To-Get</label>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success" ng-repeat="obj in table.anItem track by $index">
            <div class="input-group">
                <span class="input-group-addon" ng-click="deleteItem($index)">Data-Title</span>
                <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="obj.anName">

                <span class="input-group-addon" >Data-Selector</span>
                <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="obj.anSelection">

                <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--</label>-->
                <!--</div>-->

                <span class="input-group-addon">Type</span>
                <select name="type" class="form-control " ng-model="obj.anType">
                    <option value="string" >string</option>
                    <option value="number" >number</option>
                </select>
            </div>
        </li>

        <!--<li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>-->
        <!--<li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>-->
        <!--<li class="list-group-item list-group-item-danger">Vestibulum at eros</li>-->
    </ul>
    <div class="btn btn-danger btn-block" ng-click="addMore()">ADD MORE</div>
    <br>
    <div class="btn btn-primary btn-block " ng-click="start()">START</div>
</div>
