<div class="row">
    <div class="col-xs-2">
        <ul class="list-group">
            <li class="list-group-item">
                <h2 class="text-center">Tools</h2>
            </li>
            <li class="list-group-item">
                <a href="" ui-sref="app.tab1.tab11">videoTest</a>
            </li>
            <li class="list-group-item">
                <a href="" ui-sref="app.tab1.tab12">jump</a>
            </li>
        </ul>
    </div>

    <div class="col-xs-10">
        <div ui-view class="view-two"></div>
    </div>
</div>

