<div>
    <div class="btn-group ">
        <div class="btn btn-danger " ui-sref="dataChart">convert</div>
        <div class="btn btn-danger ">convert</div>
        <div class="btn btn-danger ">convert</div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3>Hello</h3>
        </div>

        <!-- Table -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <td ng-repeat="item in tHead">{{item}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in dealData">
                    <td ng-repeat="item in obj">{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>